-- Performance Optimization Indices
CREATE INDEX IF NOT EXISTS idx_sessions_token ON sessions(token);
CREATE INDEX IF NOT EXISTS idx_sessions_expires_at ON sessions(expires_at);
-- Index for system lookup
CREATE INDEX IF NOT EXISTS idx_systems_handle ON systems(system_handle);
